.crt-on.hacking-game {
    padding-top: 100px;
}

.hacking-inner {
    width: 100%;
}

.row.words div {
    @media screen and (max-width: 600px) {
        font-size: 0.5rem;
    }
}

.attempts-remaining {
    display: flex;

    .attempt-graphic {
        display: block;
        height: 24px;
        width: 15px;
        margin-left: 20px;
        background-color: green;
    }
}

.hacking-word,
.hacking-dud {
    background: none;
    border: none;
    box-shadow: none;
    color: rgb(0, 242, 0);

    &:hover,
    &:active {
        background-color: rgb(0, 242, 0);
        color: #000;
    }
}

.hacking-game-cols {
    display: flex;

    .row.likeness {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 1rem;

        @media screen and (max-width: 600px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            max-height: 100px;
            overflow-x: hidden;
            background-color: #111;
        }
    }

    .hovered-word {
        height: 3rem;
    }
}