.App {
  position: relative;
  background: #000;
  color: rgb(0, 242, 0);
  height: calc(100vh);
  width: calc(100vw);
  padding: 0;
  margin: 0;
  padding: 2rem;
  text-shadow: 5px 5px 10px rgb(40, 141, 40);
  overflow-x: hidden;

  &::before,
  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.08), rgba(0, 255, 0, 0.08), rgba(0, 0, 255, 0.08));
    background-size: 100% 1px, 5px 100%;
    pointer-events: none;
  }

  &::after {
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 100ms linear infinite;
  }
}

@keyframes flicker {
  0% {opacity: 0.17;}
  20% {opacity: 0.31;}
  40% {opacity: 0.21;}
  60% {opacity: 0.55;}
  80% {opacity: 0.12;}
  100% {opacity: 0.1;}
}


.crt-on {
  animation: 2s cubic-bezier(0, 1, 0, 1) glitchy;
}

@keyframes glitchy {
  from {transform: skew(120deg); filter: blur(10px)}
  to {transform: skew(0); filter: blur(0)}
}