body {
  background-color: #010101;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, * {
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
  font-size: 2.4rem;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}